<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>闲言轻博客</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{template "comm/link.html"}}
</head>
<body class="lay-blog">
	{{template "comm/header.html".}}
		<div class="container-wrap">
			<div class="container">
					<div class="contar-wrap">
						<h4 class="item-title">
							<p><i class="layui-icon layui-icon-speaker"></i>公告：<span>欢迎宝宝们!</span></p>
						</h4>
						<div class="item">
							<div class="item-box  layer-photos-demo1 layer-photos-demo">
								<h3><a href="details.html">我年轻那会有个歌手叫周杰伦</a></h3>
								<h5>by：<span>阿贤</span></h5>
								<p>有天走在街上，似乎是一家店里在放周杰伦新专辑的歌，他现在应该叫周董了，曲子节奏感很强，歌词朗朗上口，各种转音变音运用的恰到好处无可挑剔，还是一样的听不懂他在唱什么，只是觉得这歌还挺好听的。我和我朋友说，这么多年了，周杰伦还是这样，虽然不太明白他在唱什么，但是听起来好像很厉害的样子。

									我在2001年暑假第一次听到周杰伦唱歌，在我表哥家，他的录音机里一直在循环播放一张我怎么听也听不明白的卡带。我表哥家住在市里，从小无论生活品味还是质量都是甩我好几里地的档次，我还沉迷在还珠格格主题曲里的时候，他已经在学杰克逊的太空步了。看，这就是差距。所以对于他播放的音乐，我即便听不懂，也一样会觉得好厉害的样子。记忆里唯一听懂的一句歌词是＂手牵手一步两步三步四步看着天＂，还有他跟鬼哭狼嚎一样嚎着《娘子》里的那句＂家乡的爹娘早已苍老了轮廓，娘子我欠你太多噢哦噢＂。我表哥把卡带的歌词纸给我看，封面是一个年轻人带着耳机，很屌的样子，上面写着，JAY。
									
									2001年下半年我升高三，有一天我表哥打电话给我说，周杰伦出了新专辑了你要不要听？我挺高兴，当然要。于是有一天我妈回家就给我带回了这张卡带《范特西》。这是一张我至今还保存在电脑里从未删除过的专辑，包括它的封面，大红的连帽衫里一张冷峻的脸。那时候CD机这种高档次电子设备还没有在我所在的小镇里兴起来，我的录音机是家人给我买来听英语用的，事实上我基本都用来听歌了。然后我开始一遍又一遍听着周杰伦口齿不清地唱＂我给你的爱写在西元前深埋在美索不达米亚平原＂，还有灵异又华丽的《威廉古堡》，当然还有半年后烂大街的《双截棍》。
									
									那时候我们班没有人听周杰伦，我感到很孤单。说起周杰伦，他们可能会觉得周杰好像更火一点，那时候尔康还是个清纯的荧幕形象，他的大鼻孔也没有被人恶搞。我有两个非常好的好朋友浩和恺，我向他们推荐周杰伦，后来他俩也跟疯了一样开始迷上听周杰伦的歌。我们课上课下都在聊周杰伦，装作很懂行地谈论R&B，早读课不背课文和英语单词全用来背周杰伦的歌词了，比拼到底谁能一口气唱下来《忍者》，我的《范特西》卡带歌词纸都快要被翻烂，课本上空白的地方画了各种各样范特西的logo，还有那本被写满各种歌词的课堂笔记。以至于10多年过去了，我到现在还能顺嘴就溜出来＂居酒屋里的小神龛距铺满鹅卵石的玄关差不多一米宽的信仰我坐着喝味噌汤在旁观看庭院假山京都的夜晚…＂，偶尔在KTV唱《范特西》这张专辑里的歌时，闭着眼睛都知道怎么唱。
									
									2002年夏天，高考落榜，《八度空间》发行了，那时候我已经有了CD机这个高端大气上档次的设备，我买了《八度空间》的正版CD。不久后我带着周杰伦的歌和一身的年少轻狂来到乡下的学校复读。彻夜不眠地听＂让我们半兽人的灵魂翻滚，收起残忍，回忆兽化的过程＂，在那里认识另一个好朋友维，他很会唱歌，常常听他唱＂放在糖果旁的是我很想回忆的甜，然而过滤了你和我沦落而成美＂。这张专辑一直伴随我渡过整个复习的时光，在那里没有什么朋友，和别的同学没有话题，只有堆的比山高的没完成的试卷和整晚整晚的失眠。直到迎来下一个高考落榜，和周杰伦下一张专辑《叶惠美》。
									
									在2003年暑假，和新认识的好朋友聃，整个下午的坐在电脑前听周杰伦唱歌。那时候日光闪烁，百无聊赖。《晴天》是这个暑假最好的写照，我们每个人的人生都开始出现斑驳，从前的故事全都变成从前，故事的最后每个人都特别潇洒地拜拜了。这一年，周杰伦在他的音乐里风生水起，一首＂谁在用琵琶弹奏一曲东风破＂拉开华丽古典R&B的大幕，后来他的每张专辑都会来这么一首中国风，听得多了，也就那么回事了。
									
									2003年9月，我来到大学。认识小付同学是个特别愉快的过程，我们同寝室，第一次一起去打水的路上，我问他，你听周杰伦的歌吗？他说听，很喜欢。于是我们就开始聊周杰伦的歌，他有一副好嗓子，学什么像什么，从《以父之名》里的女高音到《东风破》里的二胡伴奏，和他一块总能听到除了歌词以外的东西。我们经常一起拼RAP，他念＂烛光不不停的摇晃＂，我就跟一句＂猫头鹰在窗棂上对着远方眺望＂，从教室到宿舍，再到食堂三点一线上，到处都是周杰伦的歌。后来他在大一元旦晚会上还倾情献唱了《以父之名》这首歌，伴奏带很糟糕，但是他唱的很认真，现在回想起来，当他唱＂a ya ya 切克 切克 a ya＂的时候，其实好傻。
									
									2004年《七里香》发行，流行天王，文艺复兴，低调的华丽，各种赞誉不绝于耳，饶舌歌《我的地盘》也在瞬间变成口水歌，那时候中国移动的动感地带套餐简直火得不能行，你要是不用动感地带都不好意思和别人发短信。我在大学里忽然开始很少再听周杰伦了，并不是因为他的这张专辑变差了，而是我开始听Beyond了。我有了自己的MP3，塞满了Beyond、王菲、朴树、许巍、孙燕姿，还有稀奇古怪的民谣，留给周杰伦的空间已经越来越少。不过《范特西》这张专辑我依然保留着，虽然很少去听，却不舍得删掉。
									
									后来，是的，我不再关注周杰伦何时发新专辑了，不过他的唱片卖的越来越好，每次新专辑总有几首歌值得街头巷尾人人传唱。御用词人方文山写的歌词越来越风骚，＂铜镜映无邪扎马尾你若撒野今生我把酒奉陪＂这样的句子随手一抓一大把，虽然惊艳，却早已经没有了当初＂老唱盘旧皮箱装满了明信片的铁盒里藏着一片玫瑰花瓣＂的质朴了。也许是心境变了，有一次听个朋友说，你觉得有些歌词特别好听是吧，你拿出来用普通话念一下试试，好多都读不顺，千万别信这帮写词的，他们为了押韵什么都干得出来。
									
									2006年，周杰伦演了一部《满城尽带黄金甲》，反正所有角色都在戏里除了他，一出场就让观众出戏。这一年也有可能他自己开始怀念曾经单纯只是做音乐的自己，于是《依然范特西》发行了。这个时候我走在深圳炎热的街头，为了生计在和自己和生活较劲。不过就冲这个专辑名字我再次听他唱歌，我已经不买他的正版了，从网上下载着听的。不得不承认，他努力了，这张专辑里的《千里之外》成了传唱最广的一首歌，饶舌RAP《本草纲目》也带来一股新的改编热潮，后来他和宋祖英同台登上春晚一起唱《本草辣妹子》时笑的很喜庆，其实这就够了。好歹这张专辑里的《退后》还能让人找到周氏情歌的韵味，虽然距离《安静》这样的经典还有着不可逾越的高峰。至于《听妈妈的话》、《菊花台》，也一直在KTV点歌榜上名列前茅，我想周杰伦这时候大概忘了自己曾经是个不善言辞没日没夜写了好多歌直到被宪哥发掘出来时还一脸茫然不为所动的音乐人了吧。
									
									后来，周杰伦好像演了好多电影，出了好多专辑。我慢慢的再不听他的歌了，我和我朋友开玩笑说，周杰伦的粉丝后来应该是分成了两拨，一拨追苏打绿去了，比如我，一拨追五月天去了，比如你。其实，这并不能怪谁，有时候回想起来，这么多年听着周杰伦一路走来，10年前我喜欢听他口齿不清地玩儿R&B，也没有经过他同意就把自己的过往和他的歌曲捆绑到了一起，现在人家自然也没有义务随着你的成长而改歌路满足你对回忆的需求。周杰伦现在应该算是天王巨星了吧，唱片大卖也是跑不了的，就算是新专辑突然弄个洗剪吹的黄毛发型他还是天王，这也是值得庆贺的事情。而我，也慢慢从苏打绿的很多歌里找到了我喜欢的那种感觉，还和我朋友去鸟巢看了一场五月天的演唱会，只记得当时热血沸腾，一边笑阿信是个死胖子一边大声嚎着＂人生都太短暂，别想别怕别后退，现在就是永远＂。
									
									《范特西》这张专辑我一直没删过，其实好多年没听过了，它就一直在电脑硬盘里安安静静呆着，像我年轻时的回忆。最近翻出好久没用的iPod，把《范特西》、《八度空间》放进去，当耳边再响起周杰伦10年前的歌曲时，就好像时光一下子倒退到那些年，没有繁琐的生活和工作，只有不起眼的无所谓，还有周杰伦的歌。我想那时候可真是值得怀念啊，单纯的好音乐给了单纯的听音乐的人，这让每首歌都有了生命。
									
									可惜的是，我长大了。</p>
								<img src="../static/images/item.png" alt="">
							</div>
							<div class="comment count">
								<a href="details.html#comment">评论</a>
								<a href="javascript:;" class="like">点赞</a>
							</div>
						</div>
						<div class="item">
							<div class="item-box  layer-photos-demo2 layer-photos-demo">
								<h3><a href="details.html">拥有诗意的心态,才能拥有诗意的生活</a></h3>
								<h5>发布于：<span>刚刚</span></h5>
								<p>父爱如山，不善表达。回想十多年前，总记得父亲有个宽厚的肩膀，小小的自己跨坐在上面，越过人山人海去看更广阔的天空，那个时候期望自己有一双翅膀，能够像鸟儿一样飞得高，看得远。虽然父亲有时会和自己开玩笑，但在做错事的时候会受到严厉的训斥。父亲有双粗糙的大手掌，手把手教我走路、骑车，却会在该放手的时刻果断地放开让自己去大胆尝试，那个时候期望快快长大，能够做自己想做的事，不用受父亲的“控制”。父亲是智慧树，他无所不知、无所不晓，虽然你有十万个为什么，但是也难不倒他。</p>
								<img src="../static/images/item.png" alt="">
							</div>
							<div class="comment count">
								<a href="details.html#comment">评论</a>
								<a href="javascript:;" class="like">点赞</a>
							</div>
						</div>
						<div class="item">
							<div class="item-box  layer-photos-demo3 layer-photos-demo">
								<h3><a href="details.html">拥有诗意的心态,才能拥有诗意的生活</a></h3>
								<h5>发布于：<span>刚刚</span></h5>
								<p>父爱如山，不善表达。回想十多年前，总记得父亲有个宽厚的肩膀，小小的自己跨坐在上面，越过人山人海去看更广阔的天空，那个时候期望自己有一双翅膀，能够像鸟儿一样飞得高，看得远。虽然父亲有时会和自己开玩笑，但在做错事的时候会受到严厉的训斥。父亲有双粗糙的大手掌，手把手教我走路、骑车，却会在该放手的时刻果断地放开让自己去大胆尝试，那个时候期望快快长大，能够做自己想做的事，不用受父亲的“控制”。父亲是智慧树，他无所不知、无所不晓，虽然你有十万个为什么，但是也难不倒他。</p>
								<img src="../static/images/item.png" alt="">
							</div>
							<div class="comment count">
								<a href="details.html#comment">评论</a>
								<a href="javascript:;" class="like">点赞</a>
							</div>
						</div>
					</div>
					<div class="item-btn">
						<button class="layui-btn layui-btn-normal">下一页</button>
					</div>
			</div>
		</div>
		{{template "comm/footer.html" .}}
	<script src="../static/layui/layui.js"></script>
	<script>
		layui.config({
		  base: '../static/js/' 
		}).use('blog');	
	</script>
</body>
</html>